:root {
    --highlight: #F5B332;
    --primary: #A45B1B;
    --bg: #5CAF60;
    --bg2: #3D2B1F;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    background-image: url("../img/MapPolos.png");
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: top;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: var(--highlight);
    margin: 2rem;
    font-size: 4rem;
    text-shadow: 0 3px 1px var(--primary);
    text-align: center;
}

p {
    color: var(--highlight);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    height: 10rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    position: absolute;
}

.container {
    background-color: white;
    margin: 5rem;
    padding: 5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.numpang {
    margin: 0rem;
    width: 100%;
    height: 10rem;
    align-items: normal;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 12rem);
    grid-auto-rows: 12rem;
    gap: 15px;
}

.card {
    width: 10rem;
    height: 12rem;
    perspective: 800px;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip .inner {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
}

.back {
    background-image: url('../img/KartuBelakang.jpg');
}

.front {
    transform: rotateY(180deg);
}

.front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#message {
    color: white;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.message div {
    padding: 1rem;
}

.btn {
    margin-top: 5rem;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary);
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover {
    color: var(--primary);
    background-color: var(--highlight);
}


/* Media */

/* Leptop */

@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

    .board {
        grid-template-columns: repeat(6, 10rem);
        grid-auto-rows: 12rem;
    }
}

/* Tablet */

@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    .board {
        grid-template-columns: repeat(4, 10rem);
        grid-auto-rows: 12rem;
    }
}

/* hape */

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .board {
        grid-template-columns: repeat(2, 10rem);
        grid-auto-rows: 12rem;
    }
}
