:root {
    --highlight: #F5B332;
    --primary: #A45B1B;
    --bg: #5CAF60;
    --bg2: #3D2B1F;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    background-image: url("../img/Map2-bg.png");
    background-size:cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    color: var(--primary);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar .logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--highlight);
    text-shadow: 0px 0px 5px;
}

.navbar .nav a {
    color: var(--primary);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.navbar .nav a:hover {
    color: var(--highlight);
}

.navbar .nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--highlight);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .extra a {
    color: var(--primary);
    margin: 0 0.5rem;
}

.navbar .extra a:hover {
    color: var(--highlight);
}

#menu {
    display: none   ;
}

/* Container */

.container {
    background-color: white;
    margin: 30rem 5rem;
    padding: 0 5rem;
    text-align: center;
    border-radius: 5rem;
    min-height: 200vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container .logo {
    height: 30rem;
    margin-top: -18rem;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.container .pala1 {
    height: 30rem;
    width: auto;
    display: flex;
    position: absolute;
    right:  0;
}

.container .pala2 {
    height: 30rem;
    width: auto;
    display: flex;
    position: absolute;
    left:  0;
}

.container .space {
    height: 1rem;
    width: 100%;
    background-color: var(--primary);
    outline-color: var(--primary);
    outline-width: 1rem;
    outline-style: double;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 0rem;
}

.hero .content p {
    max-width: 60rem;
    font-size: 1.6rem;
    margin-top: -4rem;
    line-height: 1.4;
}

.hero .content .play {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary);
    border-radius: 0.5rem;
}

.hero .content .play:hover {
    color: var(--primary);
    background-color: var(--highlight);
}

/* How to play */

.tutor, 
.about{
    padding: 8rem 7% 1.4rem;
}

.tutor h1,
.about h1,
.contact h1 {
    color: var(--highlight);
    margin: 5rem 0;
    font-size: 4rem;
    text-shadow: 0 3px 1px var(--primary);
}

.tutor .row {
    display: flex;
    margin-top: 5rem;
}

.tutor .row .step-img {
    flex: 1 1 30rem;
}

.tutor .row .step-img img {
    width: 100%;
    margin: 0;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.tutor .row .step-text {
    flex: 1 1 50rem;
    padding: 0 1rem;
    align-items: center;
    display: flex;
}

.tutor .row .step-text p {
    font-size: 1.6rem;
    line-height: 1.4;
    text-align: left;
}

.tutor .row .step-text p span {
    color: var(--highlight);
    font-size: 2.6rem;
}

/* About */

.about p,
.contact p {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

/* Contact */

.contact {
    justify-items: center;
    justify-content: center;
    padding: 8rem 7% 1.4rem;
}

.contact .row {
    display: flex;
    background-color: var(--highlight);
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--primary);
    box-shadow: 0 3px 1px var(--primary);
}

.contact .row:hover {
    background-color: var(--primary);
    color: var(--highlight);
}

.contact .row p {
    margin-left: 1rem;
}

/* Footer */

footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

footer .links {
    margin-bottom: 1.4rem;
}

footer .links a {
    color: white;
    padding: 0.7rem 1rem;
}

footer .links a:hover {
    color: var(--highlight);
}

footer .credit {
    font-size: 0.8rem;
    color: white;
}

footer .credit a {
    color: white;
    font-weight: 700;
}

/* Media */

/* Leptop */

@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */

@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #menu {
        display: inline-block;
    }

    .navbar .nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--bg2);
        width: 30rem;
        height: 100vh;
        transition: 0.2s linear;
    }

    .navbar .nav.active {
        right: 0;
    }

    .navbar .nav a {
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .nav a::after {
        transform-origin: 0 0;
    }

    .navbar .nav a:hover::after {
        transform: scaleX(0.2);
    }

    .container {
        margin: 35rem 3rem;
        border-radius: 2rem;
    }

    .container .logo {
        height: 25rem;
        margin-top: -15rem;
    }

    .container .pala1,
    .container .pala2 {
        height: 25rem;
    }

    .tutor .row {
        flex-wrap: wrap;
    }
}

/* hape */

@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .container {
        margin: 40rem 2rem;
        border-radius: 2rem;
    }

    .container .logo {
        height: 20rem;
        margin-top: -13rem;
    }
}